body {
  font-family: "Comic Sans MS";/*Arial, sans-serif;*/
  font-weight: bolder;
  padding-left: 2%;
  background-image: url("http://toriavey.com/images/2010/07/Shakshuka-Close-640x480.jpg");
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list{
  list-style: square inside;
}

p {
  font-family: "Comic Sans MS";
}

ol {
  padding-left: 4%;
  list-style: armenian;
}

header > img {
  width: 100px;
}

li > a {
  color: inherit;
  text-decoration: none;
  
}